<body>
    
        <nav class="nav navbar-inverse" role="navigation">
            <div class="container-fluid">
                
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="nav navbar-nav nav-pills navbar-right">
                        <li><a href="/">CREATE</a></li>
                        <li><a href="/studentAll">STUDENT RESOURCES</a></li>
                       
                    </ul>
                </div>
            </div>
        </nav>
        
    </body>
    